@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    position: relative;
    display: inline-block;
  }

  .l-to-r-hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #6ee7b7;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
  }

  .l-to-r-hover:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  .mobile-nav-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    max-height: 1px;
    transition: visibility 0.35s, opacity 0.35s, max-height 0.35s;
  }

  .mobile-nav-menu.open {
    position: absolute;
    visibility: visible;
    opacity: 1;
    max-height: 100vh;
  }

  /* Mobile menu icon */

  .nav-icon {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
  }

  /* Mobile menu icon */
  .nav-icon span {
    position: absolute;
    height: 15%;
    width: 100%;
    background-color: #6ee7b7;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.35s ease;
  }

  .nav-icon span:nth-child(1) {
    top: 0%;
    transform-origin: left center;
  }

  .nav-icon span:nth-child(2) {
    top: 35%;
    transform-origin: left center;
  }

  .nav-icon span:nth-child(3) {
    top: 70%;
    transform-origin: left center;
  }

  .nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    left: 8px;
  }

  .nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    left: 8px;
  }

  nav {
    top: -100px;
    transition: top 0.35s;
  }

  nav.visible {
    top: 0;
  }
}

@layer components {
  .icon-hover {
    @apply transition duration-300 transform hover:text-green-300 hover:-translate-y-1;
  }

  .main-container {
    height: 4000px;
  }

  .debug {
    border: 2px solid lime;
  }

  .bg-portrait-image {
    background: url("./images/portrait.jpg");
  }
}

@layer utilities {
  .debug {
    border: 2px solid lime;
  }
}
